[Unit]
Description=Buzz doorbell server software

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=motion
Group=motion
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/env python3 -m buzz.server

[Install]
WantedBy=multi-user.target
